.icon-page{
	font-size: 37px;
	margin-top: 10px;
	color: rgb(108, 167, 244);
}
.error_explanation{
	color: red;
}

body {
     margin: 0;
     background: url('bg.jpg');
     background-repeat:no-repeat;
     background-size: 1500px 1100px;
     background-position: center;
}
/*******Navbar*******/
.testcolor{
	color: #EAE9E9;
}
.dropdown {
	margin-top: 16px;
    color: #EAE9E9;
}

/*****Content*******/

.content{
	margin: 0px auto;
	width: 980px;
	min-width: 980px;
	min-height: 420px;
}

/******* Footer ********/


.footer1{ 
	padding: 10px 60px 0px 0px;
	bottom: 0;
	width: 19%;
	border-radius: 15px;
	margin-left: 912px;
	height: 60px;
	background-color: rgba(19, 17, 17, 0.15);
	text-align: right;
	color: #363030;
	margin-top: 15px;
}


/************/

.alert-success {
	background-color:  rgba(223, 240, 216, 0.61);
}

.container1{
	margin: 0 auto;
	padding: 0px 0px 20px 0px;	
	
}
.font2{
	width: 60%;
	float: left;
	color: #fff;
}
.font3{
	width: 40%;
	float: left;
	padding-top:30px; 
}

.font2 > p{
	font-size: 21px;

}
.form-login{
	width: 60%;
	margin: 0px auto;
	padding-bottom: 15px;
	background-color: #FEF7F7;
	padding: 10px 15px 10px 15px;
	border: 1px solid;
}
.form-login > input {
	width: 100%;
}
.form-login-input {
	width: 75%;
}
.form-login  button{
	float: right;
}
.font2 > a{
	color: white;
}

.font3 > form {
	width: 100%;
	background-color: #FFF;
	border-radius: 5px; 
}